
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Pen+Script&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

::selection {
    color: var(--neutral-pale-white-clr);
    background-color: var(--primary-sea-clr);
}

:root {
    --primary-sea-clr: #00ADB5;
    --primary-very-black: #222831;
    --neutral-black: #393E46;
    --neutral-pale-white-clr: #EEEEEE;
    --navbar-width: 5em;
    --space-navbar: calc(var(--navbar-width) + 2.5rem);
}

body {
    min-height: 100vh;
    background-color: var(--primary-very-black);
    color: var(--neutral-pale-white-clr);
    font-family: 'Montserrat Alternates', sans-serif;   
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a, input, button, textarea {
    font-family: 'Montserrat Alternates', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: min(90%, 100rem);
    margin-inline: auto;
}